/* Dino Lupo custom CSS */

html, body {
  font-family: 'Roboto', sans-serif;
}

a, a:hover, a:active, a:visited {
  text-decoration: none !important;
}

.masthead h3.masthead-title a {
  font-size: 20px;
  letter-spacing: 2px;
  font-style: italic;
  color: #666;
}

.masthead h3.masthead-title a:hover {
  color: #000;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.content {
  margin-left: 16rem;
  padding-top: 0rem;
}

.page h1 {
  font-weight: 300;
  font-size: 50px;
}

div.sidebar {
  width: 14rem;
}

div.sidebar nav a:nth-child(1) {
  display: none;
}

div.sidebar-about h1 {
  font-size: 36px;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 2px;
}

div.sidebar nav {
  font-size: 20px;
  font-weight: 300;
}

div.sidebar nav a {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  padding: 2px 10px;
}

div.sidebar nav a:hover {
  background: #FFF;
  color: #000;
}

.sidebar-nav-item.active {
  border-left: 3px solid #FFF;
  color: #FFF;
}