@media (min-width: 48em) {
  .sidebar-sticky {
    position: static;
  }
  div.sidebar-about h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  div.sidebar nav a {
    font-size: 16px;
  }
  .sidebar-nav-item.active {
    border-left: 3px solid #FFF;
    color: #FFF;
  }
  .avatar {
    width: 50%;
    height: auto;
    margin: 0;
  }
}

@media (min-width: 58em) {
  .sidebar-sticky {
    position: static;
  }
  div.sidebar-about h1 {
    font-size: 52px;
  }
  p {
    font-size: 20px;
  }
  div.sidebar nav a {
    font-size: 20px;
  }
  .sidebar-nav-item.active {
    border-left: 3px solid #FFF;
    color: #FFF;
  }
  .avatar {
    width: 60%;
    height: auto;
    margin: 0;
  }
  .content {
    max-width: 66rem;
  }
}